body {
    background-color: #13293D;
    font-family: arial, sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
	color: white;
}

h1	{
	color: #999999;
	font-family: arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 1px;
	text-align: center;
}


#quiz {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#quiz > h1 {
    margin: 0;
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainbox {
    border-radius: 25px;
    background: #3E92CC;
    flex: 1;
	margin: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#introtext {
	color: #FFFFFF;
	font-family: arial, sans-serif;
	text-align: center;
    font-size: 34px;
}

#startbtn {
	font-family: arial, sans-serif;	
	background-color: #2A628F;
	color: white;
	border: solid;
	padding: 20px 32px;
	font-size: 37px;
}

.chatBox{
	position: fixed;
	right: 20px;
	bottom: 0px;
	background: white;
	width: 300px;
	border-radius: 5px 5px 0px 0px;
}
.chatHead{
	width: inherit;
	height: 45px;
	background: #0061ff;
	border-radius: 5px 5px 0px 0px;
}
.chatHead h2{
	color: white;
	padding: 8px;
	display: inline-block;
	margin: 0px;
}
.chatHead img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
.chatBody{
	height: 355px;
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chatText{
	position: fixed;
	bottom: 0px;
	height: 45px;
	width: inherit;
}
.chatText textarea{
	width: inherit;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	padding: 10px;
	resize: none;
}
.chatText textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: royalblue;
}
.msgSend{
	background: #2ecc71;
	text-align: left;
}
.msgReceive{
	background: #3498db;
	text-align: left;
}

.msgInsert{
	text-align: center;
}

.msgBroadcast{
	color: grey;
	position: relative;
	text-align: center;
	font-size: 14px;
	margin: 5px;
}

.msgError{
	color:red;
	position: relative;
	text-align: center;
	font-size: 14px;
	margin: 5px;
}

.msgSuccess{
	color:green;
	position: relative;
	text-align: center;
	font-size: 14px;
	margin: 5px;
}

#reconnectBtn {
	background-color: #2A628F;
	color: white;
	position: relative;
	border: 1px solid #000000;
	text-align: center;
	font-size: 20px;
}

.msgSend, .msgReceive{
	width: 240px;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: break-word;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: white;
}

.msg-receive:hover, .msg-send:hover{
	opacity: .9;
}

#testToggle 
{
	color: white;
	text-decoration: underline;
    position: absolute;
    top: calc(100vh - 50px);
    left: 10px;
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box{
    background-color:#0E1116;
    padding:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    font-family:sans-serif;
	margin: 1px;
	user-select: none; 
	border: 5px solid black;
}

#nextBtn, #finishBtn, #restartBtn {
	font-family: arial, sans-serif;	
	background-color: #2A628F;
	color: white;
	border: solid;
	padding: 20px 32px;
	font-size: 37px;	
}

#quizLength {
    font-family: arial, sans-serif;	
	padding: 5px 5px 5px 5px;
	border:0;
}

#questionNum {
	color: white;
}

#export {
	 color: white; 
}

#summary {
	font-size: 25px; 	
}

#quizSummary {
	padding: 30px;
	display: flex;
    flex-flow: column;
    align-items: center;
}
